<div class="row-fluid">
  <div class="login-box">
    <h2>Change your password</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method =>
      :put, :class => "form-horizontal" }) do |f| %>

      <fieldset>

        <%= f.password_field :password,
          :class => "input-large span12",
          :placeholder => "new password" %>

        <%= f.password_field :password_confirmation,
          :class => "input-large span12",
          :placeholder => "confirm new password" %>

        <div class="clearfix"></div>

        <%= f.submit "Change My Password", :class => "btn btn-primary span12" %>

    <% end %>

  </div><!--/span-->
</div><!--/row-->
