<div class="row-fluid">
  <div class="login-box">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
      :html => { :class => "form-horizontal",
      :method => :post }) do |f| %>

      <fieldset>

        <%= f.email_field :email, :class => "input-large span12",
          :placeholder => "email address" %>

        <div class="clearfix"></div>

        <%= f.submit "Reset My Password", :class => "btn btn-primary span12" %>

    <% end %>

  </div><!--/span-->
</div><!--/row-->
