<script type="text/javascript">

  var latitude = 0;
  var longitude = 0;

  $(function() {

    initializeCalendar();

  });

  function addJsonSource() {
    $('#calendar').fullCalendar('addEventSource',
      {
        url: '/events/mine.json',
        type: 'GET',
        data: { }
    });
  }

  function initializeCalendar() {

    $('#calendar').fullCalendar({
      header: {
        left: 'title',
        right: 'prev,next today'
      },
      editable: false
    });

    addJsonSource();

  }



</script>

<div class="row-fluid sortable">

  <div class="box span9">
    <div class="box-header">
      <h2>
        <i class="icon-calendar"></i>
        <span class="break"></span>
        Events I'm Attending
      </h2>
    </div>
    <div class="box-content">
      <div id="calendar"></div>
    </div>
  </div>

  <div class="box span3">
    <div class="box-header" data-original-title>
      <h2>
        <i class="icon-list"></i>
        <span class="break"></span>
        Stats
      </h2>
    </div>
    <div class="box-content">

      You've signed up for <%= pluralize(@events.count, "event") -%>.

    </div>
  </div>

  <div class="box span3">
    <div class="box-header" data-original-title>
      <h2>
        <i class="icon-plus"></i>
        <span class="break"></span>
        Add New Events
      </h2>
    </div>
    <div class="box-content">
      <p>
        <strong>Are we missing an event?</strong>
        <br />
        Click the button below to add your local Warmachine events to the calendar.
      </p>

      <%= link_to 'Add New Event', new_event_path,
        :class => "btn btn-primary" %>
    </div>
  </div>

</div>
