<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Steel Calendar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="/assets/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
      <link id="ie9style" href="/assets/ie9.css" rel="stylesheet">
    <![endif]-->

    <%= csrf_meta_tags %>

  </head>

  <body>

    <div class="container-fluid-full">
      <div class="row-fluid">
          <%= yield -%>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
